<div class="card mb-4 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">{{painting.name}} - <i>{{painting.author_id}}</i></h5>
    <small class="text-muted">{{painting.year}} - {{painting.style}}</small>
      <p class="card-text">{{painting.description}}</p>
      <span style="margin-right: 5px;" *ngIf="painting.price <= 1000" class="badge badge-success">Cheap</span>
      <span style="margin-right: 5px;" *ngIf="painting.price > 1000" class="badge badge-danger">Expensive</span>
    <small class="text-muted">{{painting.price | currency:"EUR"}}</small>
    </div>
</div>
